[2015-10-31 12:30] vaulstein opened #6 "Adding headers in request"
Is there a way to pass headers and also set cookies in the request that is made?

[2015-10-31 12:38] vaulstein opened #7 "Ability to block/skip popups"
I used the REST API service for extracting embedded metadata from HTML markup.

When I do a get request for a site that throws a popup in the beginning, the metadata returned is that of the popup.

Example site: [Faballey.com](faballey.com)

Request:
    [http://localhost:10005/extruct/http://www.faballey.com/hot-mesh-maxi-skirt-87](http://localhost:10005/extruct/http://www.faballey.com/hot-mesh-m

[2015-10-31 12:51] redapple commented on #6
@vaulstein , you mean when using the HTTP server? It's not possible with the current version.

At the moment the web service is very very basic and was not the focus of this first first release.
It's using python-requests() which allows to send anything, and should not be hard to patch.

The question is more about what API the service could expose.
Right now it accepts only the URL `/extruct/url`,

[2015-10-31 13:13] redapple commented on #7
@vaulstein , it looks to me that this product page does not contain product-related microdata:

[code]

This extructed microdata comes from the logo part of the website header, not from the popup

[code]

[2015-10-31 13:46] vaulstein commented on #6
@Paul: I would mostly be using it through command line. Since it is using
requests, I would try to patch it and maybe give a PR.
On Oct 31, 2015 6:21 PM, "Paul Tremberth" <notifications@github.com> wrote:

[2015-11-02 06:16] #7 closed

[2015-11-05 07:16] vaulstein commented on #6
@redapple : Regarding adding headers, I was considering if a request using python's request module was made to :

/extruct/<URL>
method = GET

/extruct/batch
method = POST

extruct's get or post method

and headers/cookies were passed through the request, handling headers and cookies would be simpler

what do you think?

[2015-11-13 11:17] redapple commented on #6
@vaulstein , so any headers passed to the endpoint would be sent as-is to the end website?
makes sense

[2016-01-19 19:33] redapple opened #9 "Add support for RDFa Lite"

[2016-01-21 08:37] BjBlazkowicz opened #10 "Add support for dublin core metadata(DCMI)"
Often used to describe publications etc. More information:

http://dublincore.org/
https://en.wikipedia.org/wiki/Dublin_Core
http://dublincore.org/documents/dces/

[2016-07-19 11:32] waqasshabbir opened #21 "Ability to look up items by itemtype or itemprop"
In cases, when one is not interested in all but some parts of microdata, the approach to filter required content is not very straight forward. Can we support look-up by `itemtype` or `itemprop` values as follows:

[code]

or a cleaner version with some sort of built-in support for popular vocabularies.
[code]

[2016-07-19 12:50] redapple commented on #21
@waqasshabbir , about

what are you using?

I'm wondering if something like jmespath is not easier to work on the `{"items": []}` dict values

[2016-07-27 19:26] joke2k opened #22 "Extract contents with tags"
Hi, when I use extruct to extract some microdata from html element that contains some script or style tags I encountered some problems: tags are skipped out but theirs contents remains.

This behaviour is happened because `LxmlMicrodataExtractor.extract_textContent` uses  `lxml.html.tostring(node, method="text", encoding='unicode', with_tail=False)` with method "text".
Probably we have to add a pa

[2016-08-01 10:33] redapple commented on #22
@joke2k , could you provide an example HTML snippet?

[2016-08-11 14:21] redapple commented on #22
@joke2k , would https://github.com/scrapinghub/extruct/issues/23 work for you?

[2016-08-26 02:51] waqasshabbir commented on #21
@redapple using `for`s and `if`s.

P.S. TIL about jmespath. Closing the issue.

[2016-08-26 02:51] #21 closed

[2016-09-16 16:07] redapple commented on #22
@joke2k , do you have any feedback on the proposed fix #23?
Thanks.

[2016-09-26 16:11] #22 closed

[2016-11-04 17:50] eliasdorneles opened #27 "Add command line tool"
It would be nice to have a cmdline script that, given an URL, it would try to run all the extractors (much like the webservice) and output a JSON with the results.

    extruct URL

[2016-12-07 00:56] legel opened #28 "Little things on latest RDF push"
Testing out the new RDF push, just some quick things that came up with possible fixes:
- `pip install extruct[rdfa]` didn't get the latest RDF files, had to clone from git (assuming this is by design but mentioning just in case)
- The example in the README led to this error `rdflib.plugin.PluginException: No plugin registered for (json-ld, <class 'rdflib.serializer.Serializer'>)`.  I'm not sure if

[2016-12-14 15:40] redapple commented on #28
Hi @legel , thanks for you feedback.

1) the "rdfa" extra adds rdflib/rdflib and rdflib/rdflib-jsonld dependencies, but the actual RDFa parser is based on pyRDFa3 code with some patches, which is copied into the codebase. I'll have a go at using a git submodule from a fork of mine, or try to get the patches merged upstream (rdflib or pyrdfa3).
2) indeed, that could be related to how you installed

[2016-12-15 10:49] redapple commented on #28
Hey @legel , I just released extruct 0.3.0a1 which used rdflib directly without copying pyRdfa3.
Would this release fix the issues you have?

[2016-12-15 13:58] redapple opened #31 "Support "expanded" Open Graph metadata based on og:type"
Facebook Oepn Graph defines an [expanded version of embedded metadata](http://ogp.me/#types) depending on the value of `og:type`.

For example:

[code]

This is used for example on nytimes.com. Snippet:

[code]

Currently (as I write these lines version 0.3.0a1) extracts raw `article:...` properties

[code]
while they could use the type-dependent OGP namespace

[2017-01-10 16:11] redapple commented on #28
@legel , did you get to test 0.3.0a1 by any chance?

[2017-01-15 18:10] legel commented on #28
@redapple I tested again on a fresh EC2 Ubuntu 16.04 instance, and unfortunately this is not yet resolved.

Not able to get RDFa through pip:
![Not able to get RDFa through pip](https://ibin.co/38ziYHwhtzdB.png)

Not able to get RDFlib through git:
![Not able to get RDFlib through git](https://ibin.co/38zjCsQJC4wz.png)

Once I manually cloned and installed the RDFlib installation into my dist-pack

[2017-01-16 00:34] redapple commented on #28
hi @legel ,
pip by default will not install 0.3.0a1 because it's alpha level.
To install it, you need to do
`pip install --upgrade extruct[rdfa]==0.3.0a1` (explicit version install)
or
``pip install --upgrade --pre extruct[rdfa]` (to [allow pre-releases](https://pip.pypa.io/en/stable/reference/pip_install/#pre-release-versions))
can you try that?

[2017-01-27 03:59] rolando opened #34 "Nested lists returned by JsonLD extractor."
See below, the output is a nested list rather than a list of dicts.

[code]

[2017-01-27 13:50] redapple commented on #34
Thanks for reporting @rolando , makes sense to have a list of dicts as output.
(and [Google's testing tool](https://search.google.com/structured-data/testing-tool) does output multiple LocalBusinesses).
The specs are rather unclear (to me at least) as to how to serialize multiple objects, and what makes a JSON-LD object in this case.
(I cannot see examples of `<script type="application/ld+json">[{

[2017-01-27 14:25] rolando commented on #34
Hey @redapple, thanks for your input. I didn't notice the html source itself had the metadata defined as a list.

[2017-01-27 16:04] redapple commented on #34
Alright, I think [I found it](http://json-ld.org/spec/latest/json-ld/#json-ld-grammar):

[2017-01-27 16:44] #34 closed

[2017-02-23 10:58] codinguncut opened #37 "support pre-parsed lxml.etree and faster json"
please add functions to provide a pre-parsed lxml.etree instead of htmlstring.
Also, using a library such as "ujson" may significantly speedup processing for jsonld.

[2017-02-23 11:32] redapple commented on #37
@codinguncut ,
Although it's not documented (nor explicitly tested), 2 of the extractors already support passing an lxml document directly (e.g. result of an lxml parser's `.fromstring()`, which is how it's implemented for `.extract()`):
* [`extruct.jsonld.JsonLdExtractor.extract_items(document)`](https://github.com/scrapinghub/extruct/blob/5f58236024530004f5cb824444aa04ef6f9db19f/extruct/jsonld.p

[2017-03-05 19:37] codinguncut commented on #37
Hi,
thank you for sharing this (undocumented) functionality.

I'm not sure if `ujson` is the "best" option (whatever that means), but it's significantly faster than vanilla `json` (especially on py2) and I've been using it as a robust drop-in replacement.

http://artem.krylysov.com/blog/2015/09/29/benchmark-python-json-libraries/

[2017-03-06 10:03] redapple commented on #37
I meant "best" as "fastest" as this is one of your points.
PRs for trying ujson if available and documentation of extractors methods are welcome.

[2017-03-30 13:57] redapple opened #39 "Add a generic extractor that would call each built-in extractors"
Instead of call each extractor for individual microdata formats, there could be a do-all extractor combining results of several extractors.
Something like (pseudo-Python-code):

[code]

[2017-03-30 13:58] redapple opened #40 "Add extract_items() to RDFaExtractor"
To be able to reuse an lxml tree with `RDFaExtractor`

See #37 for motivation.

[2017-06-06 16:28] #40 closed

[2017-06-06 20:54] #39 closed

[2017-06-09 12:44] #27 closed

[2017-06-09 12:46] redapple commented on #28
hi @legel , I've released extruct 0.3.1 with rdfa support by default.
Please check it out. Cheers.

[2017-06-09 12:46] #28 closed

[2017-06-11 18:15] giordand opened #45 "Error parsing Json-Ld in JsonLdExtractor"
When the JsonLdExtractor tries to parse json ld in some web page raise `ValueError; no json object could be decoded`.
My solution was to catch the error in `JsonLdExtractor._extract_items(self, node) ` (because maybe the extractor detected some microdata or rdfa in the webpage but the error only occurs with json-ld, and if we catch the error in extruct.extract we'll lose that data) and by default

[2017-06-11 19:41] redapple commented on #45
Hi @giordand , thanks for the report.
Would you happen to have an example URL where this happens?
I have a local stashed change that I had to apply for examples you get from schema.org,
the root cause being for me that there was some HTML comment at the start of the `script` text node
[code]

[2017-06-11 22:40] giordand commented on #45
Yes, i remember that in my case there was HTML comments too , so it should be fixed when you commit & push that changes. Let me ask you a question , when you commit that changes will it be available with a pip update command to the extruct library?

[2017-06-12 10:52] redapple commented on #45
I'll need to release a new version of extruct for the change to be available directly from PyPI via pip.
Note that pip also allows installing from git specific commits

[2017-06-12 10:53] redapple commented on #45
@giordand , it would be most helpful if you can provide a real example of a URL (or the HTML of it) where extruct failed, just to check if my patch really does solve your issue.

[2017-06-12 13:03] stummjr opened #46 "Allow calling extruct cmd line tool using "python -m extruct""
It would be nice to be able to call the extruct command line tool using `python -m extruct`.

With this, people will be able to use a specific Python version and it may also help people with issues on their system's PATH.

[2017-06-12 17:26] giordand commented on #45
@redapple here is the json-ld script wich the jason.loads cannot load:

[code]
Look at the red line, the double cuotes are missing in that element of the array. I did the test completing it with the double cuotes and no error were catched, so here we've got an example where apparently has no solution because the original json object is malformed and surely that object is not loading correctly in t

[2017-06-13 09:18] redapple commented on #45
Thanks for the feedback @giordand .
I'd go for catching the parse error, log a warning or error, and return an empty list like you suggest.

[2017-06-13 09:28] redapple opened #49 "JSON-LD: Use UltraJSON if available"
Motivation: https://github.com/scrapinghub/extruct/issues/37#issuecomment-284255022

[2017-06-13 09:30] redapple commented on #37
`extract_items(document, url, *args, **kwargs)` methods have been added to all extractors, taking an lxml-parsed document as input.
I've moved the usjon feature request to another issue #49

[2017-06-13 09:30] #37 closed

[2017-06-20 08:36] #46 closed

[2017-07-01 21:03] maugch opened #53 "How to correct "nasty" jsonl+ld"
I've found at least a couple of bad json+ld that extruct can't read.
'''
  File "/cygdrive/d/recipeWorkspace/python/parsers.py", line 25, in readJsonLd
    data = jslde.extract(html)
  File "/usr/lib/python2.7/site-packages/extruct/jsonld.py", line 21, in extract
    return self.extract_items(lxmldoc)
  File "/usr/lib/python2.7/site-packages/extruct/jsonld.py", line 25, in extract_items
    self._

[2017-07-01 21:20] maugch commented on #53
Here's an example:
w w w .browneyedbaker.com/nutter-butter-snowmen/

[2017-07-03 12:29] redapple commented on #53
Hey @maugch , thanks for the report.
Correcting this kind of unescaped double quotes looks non-trivial.
`demjson` and `ujson` both choke on this input.
There *might* be a way with `demjson`'s `return_errors=True`:
[code]
checking what chars is around the offset

[2017-07-03 12:43] maugch commented on #53
I've had similar issues with other chars but I'm not sure exactly which, because every time I do a result[XX] where XX is the value on the the exception, I get either a blank space or a letter.
There must be a wordpress plugin that misses some chars. Right now I had issues mostly with Recipe schemas.

I suppose the only possible solution is to check for the next square bracket and take the ellipsi

[2017-08-31 00:50] Gautamshahi opened #54 "Unable to pass the url"
r = requests.get(url)
    data = extruct.extract(r.text, r.url)

why i am getting error in this way?

[2017-08-31 08:19] redapple commented on #54
What error are you getting @Gautamshahi ? Please share your stack trace.
What version of extruct are you using?

[2017-08-31 09:16] Gautamshahi commented on #54
I am using extruct 0.4.0.

In this screenshot you can see the error and the code, actually i am tring to pass the URL from the warc file.

![image](https://user-images.githubusercontent.com/3966230/29916010-1ff23374-8e5b-11e7-9cc7-1926cd111167.png)

[2017-08-31 09:39] redapple commented on #54
This does not look related to `extruct`. It has more to do with `warc`'s record headers and how to get the URL from a record.
I'm not familiar with `warc` though, so I cannot help you.

[2017-08-31 09:41] redapple commented on #54
Also, in the loop, you are using `r.text` and `r.url` to pass HTML and URL to `extruct`.
But you are reading records from a warc file. You'll need to adapt the example from extruct's README to get HTML and URL from `record` in your loop.

[2017-08-31 09:44] pmyteh commented on #54
This is a warc error rather than an extruct one. The problem is, I think, that not all records in a WARC archive actually contain crawled data. Depending on your WARC source, some contain HTTP requests, and some also contain 'warcinfo' metadata. A (late draft) copy of the WARC standard can be found at [the BNF](http://bibnum.bnf.fr/WARC/WARC_ISO_28500_version1_latestdraft.pdf).

If you iterate onl

[2017-08-31 09:47] #54 closed

[2017-08-31 09:49] Gautamshahi commented on #54
I am not expert both in EXTRUCT and WARC but I check the WARC code ( record.header['WARC-Target-URI']) it fetches the list of URL the warc file.

Moreover, if I just save list of URL in a text file(after extracting from WARC file) example-
http://01.rknt.jp/frienzu/
http://01my.blogspot.com/2015/06/
http://03188b9.netsolhost.com/fragorder.html
http://036.asiapars.com/
http://0avocat.ca/portal/fr/A

[2017-08-31 09:53] Gautamshahi commented on #54
I am not expert both in EXTRUCT and WARC but I check the WARC code (
record.header['WARC-Target-URI']) it fetches the list of URL the warc file.

Moreover, if I just save list of URL in a text file(after extracting from
WARC file) example-
http://01.rknt.jp/frienzu/
http://01my.blogspot.com/2015/06/
http://03188b9.netsolhost.com/fragorder.html
http://036.asiapars.com/
http://0avocat.ca/portal/fr/A

[2017-08-31 10:00] redapple commented on #54
@Gautamshahi , you can try that yest, it should work fine.
Though if you have the WARC file already, you probably have HTTP response bodies already.
Downloading the URLs again with `requests` is doing the work again.
It's your call.

[2017-08-31 10:03] pmyteh commented on #54
You can only extruct what's actually there. Without knowing exactly what's in your WARC file it's difficult to answer your question.

Something like:
[code]
Should help.

I'm happy to help more, but as this is not an extruct problem I don't want to do it here. Drop me a line direct if you need it.

[2017-08-31 13:10] Gautamshahi opened #55 "Unable to read UTF-8"
The code is not able to read the UTF-8, where I can modify the code? The extruct supports only ASCII?

Error-

![image](https://user-images.githubusercontent.com/3966230/29924803-d547c3e0-8e7b-11e7-91a6-b14579e56987.png)

[2017-08-31 13:21] redapple commented on #55
It's more likely about non-ASCII characters in your source `.py` file.
You should set your file encoding in the top part of your source files, e.g. `# -*- coding: utf-8 -*- ` if you use UTF-8

[2017-08-31 13:23] redapple commented on #55
When reporting issues, please paste all relevant files regarding input data, source code, stack trace if any, actual result and expected results.
[StackOverflow](https://stackoverflow.com) is also a invaluable resource for these kind of issues (that are not extruct-specific), for example https://stackoverflow.com/questions/28898561/syntaxerror-non-ascii-character-xe3-in-file-g-test-py-on-line-2-bu

[2017-08-31 13:23] #55 closed

[2017-11-11 20:44] vu3jej commented on #45
Observed something similar while working on the same website as in #57; in [here](https://www.cosaordino.it/locale/906/monza-e-brianza/sedici-piadina)
[code]
Notice the missing double quotes around `latitude` and `longitude` values. In this case I fixed it with the following regex, though I doubt there's a catchall solution.

[code]

[2017-11-11 21:00] vu3jej commented on #10
I'd like to try this one if no one else is working on it right now :man_technologist:

[2018-02-05 12:14] hbbtstar commented on #10
@vu3jej did you ever get a chance to get started on this? It would come in handy for us the next couple of months!

If you haven't, also happy to help out by submitting a PR- I'd have to build it in-house otherwise, always better to open-source!

[2018-02-22 03:18] mahehss opened #59 "Memory leak issue"
Steps to reproduce:
Login to Ubuntu box:
Run extruct as a service
nohup python -m extruct.service &

hit the http://localhost:10005/extruct/<url> in loop for 20k urls. Memory consumption increases with time and never comes down

[2018-03-07 03:39] Granitosaurus commented on #53
Might be unrelated but extruct json parser also chokes on `\t` characters in json.

Example case:

_from url: https://www.alltricks.fr/F-41493-pieces-roues/P-81593-fond_de_jante_notubes_yellow_tape_25_mm_pour_5_jantes_

There are some tabs in json that break extruct. And can be solved by replacing them away:

    class ExtendJsonLdExtractor(JsonLdExtractor):
        def _extract_items(self, node):

[2018-03-07 05:37] Granitosaurus commented on #53
Btw @maugch I can't replicate your issue on www.browneyedbaker.com/nutter-butter-snowmen/

    $ scrapy shell http://www.browneyedbaker.com/nutter-butter-snowmen/
    In [1]: from extruct.jsonld import JsonLdExtractor
    In [2]: JsonLdExtractor().extract(response.body_as_unicode())
    In [3]: len(_)
    Out[3]: 3

It works correctly here

[2018-03-12 21:01] Kdoggett887 commented on #59
@mahehss I had the same issue when I was running extruct on multiple websites, so I forked the repository and was able to fix the issue.

In the `DomHtmlElementClassLookup` class in the `xmldom.py` file, there is a class variable called `_lookups` which is a dict that stores information for parsing. `_lookups` stores keys/values as tuples/xmldom classes. An example entry looks like `(u'element', <

[2018-03-13 06:37] lopuhin commented on #59
@Kdoggett887 I think solution you described makes sense, please send a PR! Especially given that memory leak happens not in the server but in the extractors themselves.

[2018-03-13 06:51] redapple commented on #59
@Kdoggett887 , it's great that you could track this down. I was suspecting something around the parser that was introduced for RDFa, but hadn't had time to look into it. Awesome!

[2018-03-21 15:03] cathalgarvey opened #62 "JSON Comment Removal RE may remove comments from within JSON strings"
(The regex used to remove comments)[https://github.com/scrapinghub/extruct/blob/c465e629c9e35cff08a703f6d2912c1c71c642ff/extruct/jsonld.py#L13] from JSON that fails to decode is pinned to the beginning on one side, but not the other. So, the regex may remove HTML comments from strings within the JSON document, as well as outside the JSON.

A quick fix would be to just add the `^` token to the othe

[2018-03-21 18:37] cathalgarvey opened #63 "Deprecate Server and HTTP Client mode?"
At present, `extruct` supports a HTTP API for "testing", but that carries a maintenance burden, and it invites feature-requests that may nudge it more and more into becoming a monolithic proxy service. That's not really where we want Extruct to be, I think.

Similarly with the HTTP-Client mode and the CLI tool that offers it - it's a mode of operation which probably shouldn't be our priority with

[2018-03-21 18:53] cathalgarvey commented on #53
Hi @Granitosaurus - I downloaded the URL you supplied above and I was able to decode the JSON using `json`, and I was able to extract it using `JsonLdExtractor`. Can you provide example code of this failing in your case?

My code, approximately:

[code]

[2018-03-21 18:56] #9 closed

[2018-03-21 18:58] cathalgarvey commented on #6
It's my opinion, per #63, that we should actually remove server and client mode for `extruct` and leave those roles to other, better-suited third party tools. Just posting it here in case it's still of interest to anyone involved in this issue.

Because this issue is now quite stale, I'll close it; feel free to reopen if needed.

[2018-03-21 18:58] #6 closed

[2018-03-21 18:59] cathalgarvey opened #64 "Add support for microformats"
Extruct ought to support [microformats](http://microformats.org/wiki/Microformats2).

[2018-03-21 19:54] lopuhin commented on #64
@cathalgarvey could you please clarify which microformats do you mean or link to a spec?

[2018-03-21 21:14] maugch commented on #53
I did try again now and I don't get an exception. I suppose they corrected it. According to my previous comment, there was a text "buttons" that I don't see anymore. I see this on firefox:
 the two &#8220;buttons&#8221;

My code is simple (now even simplified for this comment):
[code]

[2018-03-21 21:56] Kebniss commented on #64
I am working on a pull request that adds https://github.com/microformats/mf2py for microformat extraction

[2018-03-22 07:29] cathalgarvey commented on #64
Indeed, those microformats! Thanks Ludovica. :)

On 21 March 2018 21:56:47 GMT+00:00, Ludovica Gonella <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-03-26 13:38] #62 closed

[2018-03-26 21:43] Kebniss opened #66 "Add support for all microformat vocabularies"
mf2py already supports and returns them but we are only keeping h-entry. h-item and h-product are of particular interest

List http://microformats.org/wiki/Microformats2#v2_vocabularies

[2018-03-27 10:26] cathalgarvey commented on #53
Hey @maugch - Glad to hear your problem has resolved. Pity we couldn't capture test cases before it disappeared, though. :)

@Granitosaurus - Any chance you can replicate, and if so can you capture failing HTML so we can use it to build a test case?

[2018-03-27 21:31] Phyks opened #67 "Unified formatting for microformats and JSON-LD"
Hi,

I am using `extruct` to extract metadata from emails, either in microformats or JSON+LD format. A very good point for this library is that in a single call one can extract all possible information from the message, that's super convenient!

However, I realized that the structure of the data returned from JSON+LD and microformats is quite different. For instance, microformats will return somet

[2018-03-28 18:17] #66 closed

[2018-03-28 19:19] Kebniss commented on #64
closing because feature was implemented

[2018-03-28 19:19] #64 closed

[2018-03-28 19:55] cathalgarvey commented on #64
Awesome, thanks Ludovica! I think this merits a version bump.. :)

On 28 March 2018 20:19:47 GMT+01:00, Ludovica Gonella <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-03-28 22:39] Kebniss commented on #64
@cathalgarvey how can I do that? :)

[2018-03-28 23:02] Kebniss commented on #67
Hi @Phyks, thank you for your feedback! This is an issue we will start to work on soon. Likely we'll implement another library that normalizes outputs from all syntaxes to the same standard. I'll make sure to ping you when we'll release it :-)

[2018-03-29 08:02] Phyks commented on #67
Hi,

Oh, that's super cool news! Do you have any implementation ideas so far? Typically, I know about [Weboob](http://weboob.org/) (a scraping tool, in Python as well) and they have this implementation of `capabilities` which represents an analog of `schema.org` schemas. They are implemented as Python class with typed fields. For instance, an housing post might be represented by this class to stan

[2018-03-29 18:15] stummjr commented on #63
@cathalgarvey I'm probably too biased to provide valuable feedback on this, as I've implemented the CLI in the past, but I think that it is an useful feature (at least I find myself using it use it frequently 😄).

But I totally agree with you on that `extruct` should just read stuff from a file/pipe, as it makes it easier to customize the requests as much as we need using a proper tool such as `cu

[2018-03-30 20:18] cathalgarvey commented on #53
Hey folks, I'll close this for now, but if anyone can find us a failure case we can work with, we'll reopen. :)

[2018-04-06 11:49] g3rd opened #72 "When will a new version be pushed to pypi?"
v0.4.0 shipped June 20, 2017. There have been 40 commits (plus 6 for Read Me updates).

What is the version strategy?

Thanks!

[2018-04-06 11:50] g3rd commented on #72
PS. Found the version strategy: https://github.com/scrapinghub/extruct#versioning

[2018-04-06 11:53] lopuhin commented on #72
Hi @g3rd I think we want to make a 0.5 release within a few weeks, after some current PR are merged.

[2018-04-06 12:55] g3rd commented on #72
Thanks @lopuhin!

[2018-04-23 10:01] lopuhin opened #75 "url vs. base_url in extruct.extract"
Right now ``extruct.extract`` has an ``url`` parameter which is documented as "url of the html documents", but in reality it's used as a base url (at least in ``LxmlMicrodataExtractor``, maybe in others as well). I think we should check if it's indeed always used as a base url, update documentation and introduce ``base_url`` argument deprecating ``url``? Another option would be to extract ``base_u

[2018-04-23 10:03] lopuhin commented on #67
I think this was implemented in #70, also see follow-up #74

[2018-04-23 13:05] Phyks commented on #67
Indeed, this will be solved after #70 and #74 are merged! Do you plan on releasing a new pip version afterwards? Thanks!

[2018-04-23 14:47] lopuhin commented on #67
yes, we plan to make a release soon, I created 0.4 milestone today: https://github.com/scrapinghub/extruct/milestone/1

[2018-05-14 21:47] akirmse commented on #53
Here's a tragic example:

http://montalvoarts.org/events/summernights18_salsa/

They omit a closing brace in their "location" field in their ld+json in every event on their site.    When parsing manually, I'm able to correct this and extract the events.  I'm looking at moving to extruct and it would be great if this site kept working.

[2018-05-15 06:06] lopuhin commented on #53
For reference, this is json-ld from the site:
[code]

[2018-05-15 09:50] #75 closed

[2018-06-08 20:22] scythargon opened #83 "Probably leaks memory"
![image](https://user-images.githubusercontent.com/1755870/41179263-6dc8b46e-6b6a-11e8-9367-2f365c0ff3be.png)

[2018-06-08 22:11] Kebniss commented on #83
Hi @scythargon, we pushed a new release that should fix this just today, can you update the package and try again?

[2018-06-08 22:13] Kebniss commented on #67
@Phyks, we released the new package version today :-)

[2018-06-11 16:00] scythargon commented on #83
@Kebniss yup, much better now, thank you!

[2018-06-11 16:00] #83 closed

[2018-07-31 08:42] shiquanwang opened #84 "Extract JSON-LD with control characters."
Some pages have JSON-LD with control characters.
One example is: https://www.johnlewis.com/sony-xperia-x-smartphone-android-5-4g-lte-sim-free-32gb/p3210080

when you try to extract JSON-LD data from this page, you'll get:
`Invalid control character at: line 8 column 353 (char 625)`

Maybe need to change `JsonLdExtractor._extract_items()` in `extruct/extruct/jsonld.py` as below:
[code]

[2018-08-08 15:46] #84 closed

[2018-08-08 15:48] lopuhin commented on #53
Some (but not all) issues raised in this thread were fixed in https://github.com/scrapinghub/extruct/pull/85

[2018-08-18 08:39] maugch commented on #53
It happens again. Funnily enough, always food sites.
http s: food52.com/recipes/50290-cracker-eggs
It seems the crawler get confused by some \n inside the json.

[2018-08-20 08:07] shiquanwang opened #87 "Handle badly formatted JSON-LD data."
Some web pages contain badly formatted JSON-LD data, e.g., [an example](https://www.debenhams.com/webapp/wcs/stores/servlet/prod_10701_10001_60742+1515029001_-1)

The JSON-LD in this page is:
[code]

In the JSON-LD above, the last `}` is extra. And `extruct` or `json.loads` won't handle it properly.

The `json.loads` in Python after 3.5 will give detailed error information as `JSONDecodeError: Ext

[2018-08-22 06:37] vikaskyadav opened #90 "The utiility gets stuck in the middle"
I have been using extruct inside Scrapy Spider and the code got stuck in the middle and it is neither going forward nor skipping the same url. Also, there is no code error, no exception, nothing.

[2018-08-22 12:48] maugch commented on #53
Again another jsonld with wrong data. Again a Recipe site. I suppose there is a wordpress plugin that isn't working correctly. There is a ] at the end that shouldn't be there
`

<script type="application/ld+json">
   {
   "@context": "http://schema.org/",
   "@type": "Recipe",
   "name": "Soap Dough - Soap You Can Play With!",
   "author": {
   "@type": "Person",
   "name": "Mrs Happy Homemaker"
 

[2018-08-22 19:38] kmike commented on #87
I guess this provides more motivation for https://github.com/scrapinghub/extruct/pull/69/, though I'd prefer json decoding function to be an argument, not a global option.

Providing something which handles more cases by default makes sense to me, though we may start just with having a good example in README.

[2018-08-22 19:44] kmike commented on #87
I also wonder if other libraries like demjson or yajl can handle it (see http://deron.meranda.us/python/demjson/demjson-2.2.4/docs/demjson.html#-decode - it seems there is an option to return data after the error).

[2018-08-31 16:55] jakubwasikowski opened #92 "Add support for Open Graph Arrays"
It is possible in Open Graph Protocol to specify more than one value for a single property. It's called OG Array http://ogp.me/#array.

It seems that currently `extruct` doesn't support arrays in case the `uniform` option is set to `True`, because `uniform._uopengraph` function doesn't handle duplicated keys from the list of properties.

It'd be cool to add that support and return list in case the

[2018-09-19 21:51] andrewsu opened #93 "Unicode/string parsing error"
I'm trying to parse structured metadata from [this url](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/G4TBLF).  I first executed this code on the example URL https://www.optimizesmart.com/how-to-use-open-graph-protocol/:

[code]
And works just fine. However, this block of code:

[code]
returns this error
[code]

Any idea what is going on here?  Seems like an lxml.etree p

[2018-09-19 23:07] Kebniss commented on #93
You cannot parse a unicode string that contains an encoding declaration, see [here](https://stackoverflow.com/questions/3402520/is-there-a-way-to-force-lxml-to-parse-unicode-strings-that-specify-an-encoding-i). In Harvard's html the encoding is specified in the first line. You can just encode the text before passing it to extruct: `data = extruct.extract(r.text.encode('utf8'), base_url=base_url)`

[2018-09-19 23:40] andrewsu commented on #93
Thank you @Kebniss, worked perfectly!  Your help (and your addition to my must-read list) is much appreciated!

[2018-09-19 23:40] #93 closed

[2018-10-24 15:28] juriigen opened #94 "I want to get only one type of schema.org annotation how can i do it"
i have this json but i want only the @type Product annotated not @type BreadcrumbList . Is there a way to get only Product ?
[
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://concordpetfoods.com/collections",
          "name": "Collections"

[2018-10-24 18:05] Kebniss commented on #94
you cannot specify this when calling extruct but you can filter json-ld content after it is extracted:
[code]

[2018-10-24 18:15] juriigen commented on #94
@Kebniss  Thank you very much i am new in python 👍
p.s you can close the "issue"

[2018-10-24 18:57] Kebniss commented on #94
no problem, happy to help!

[2018-10-24 18:57] #94 closed

[2018-10-25 22:43] tvfoodmaps opened #95 "TypeError: 'NoneType' object is not iterable on some pages"
Hi, I've been using extruct pretty successfully but came across a URL that seems to validate OK but when I run it through I get an error:

[code]

The code is:
`data = extruct.extract(r.text, base_url=base_url,syntaxes=['json-ld', 'opengraph'],uniform=True)
`
The URL being passed in is https://www.tasteofhome.com/collection/keto-diet-recipes/view-all/

[2018-10-26 00:34] Kebniss commented on #95
Thank you for reporting this bug! The issue seems to be that `JsonLdExtractor._extract_items` returns None and `JsonLdExtractor.extract_items` tries to iterate on it. I will create a PR to fix it

[2018-10-26 00:58] tvfoodmaps commented on #95
Oh that would be great!  Thanks.

[2018-10-27 15:01] tvfoodmaps commented on #95
When the fix is merged, will I be able to get it by just doing a pip3 update?

[2018-10-29 10:15] whalebot-helmsman commented on #95
@tvfoodmaps you don't need to wait until merge, you can install fixed version right now using
[code]

[2018-11-01 22:09] Kebniss commented on #95
@tvfoodmaps the fix was merged into master. It will be included in next release but in the meantime you can use @whalebot-helmsman's solution. Can I close the issue?

[2018-11-10 00:25] omprakaash opened #98 "Dealing with Async loaded json-ld"
Hello! Is there a way to deal with async loaded json-ld such as in this url -> “https://www.omicsdi.org/dataset/arrayexpress-repository/E-GEOD-33515”

extruct “https://www.omicsdi.org/dataset/arrayexpress-repository/E-GEOD-33515” results in no json-ld metadata being returned

[2018-11-12 07:44] lopuhin commented on #98
@omprakaash I think the only general way to solve this is to load the page in a headless browser (e.g. headless chrome or with http://splash.readthedocs.io), and then pass html after rendering to extruct. Another option, if you can trace which request fetches json-ld, you can fetch it directly and pass to extruct.

[2018-11-13 16:26] omprakaash commented on #98
Ah. Thank you! Will try doing it the way you suggested.

[2018-11-15 02:32] tvfoodmaps commented on #95
yes.  thanks.

[2018-11-15 02:55] #95 closed

[2018-11-19 11:12] #98 closed

[2018-11-28 17:55] lopuhin opened #99 "errors="ignore" does not ignore all errors"
E.g. if an error happens during html parsing or unification, it won't be ignored when calling ``extrcuct.extract(html, errors='ignore')``

[2018-12-05 20:59] lopuhin commented on #99
Fixed by #100 , thanks @Kebniss !

[2018-12-05 20:59] #99 closed

[2018-12-11 03:53] joaquingx commented on #49
#69

[2018-12-11 04:10] joaquingx commented on #10
As it seems that there's no progress yet, I would be happy to help here, I'll begin now! :muscle:

[2019-01-10 15:34] kamilliano opened #102 "Problem parsing rdfa in aws lambda"
Hi,
wanted to ask if anyone out there has used extruct on AWS lambda? I tested running `extruct` function which seems to fail to work for rdfa. Other default metadata types are fine.

A simple test case:
[code]
The part of pipenv graph for extruct when I build the artifact.zip file:
[code]

When I run this locally in the same pipenv env (Ubuntu 17.10, Docker, 17.12.0-ce, pipenv==v2018.11.26), I do

[2019-01-10 18:31] lopuhin commented on #102
I think it's possible to register plugins directly via https://github.com/RDFLib/rdflib/blob/1503dae6049f0d9b14d9d7f884d8de4cb38b39a3/rdflib/plugin.py#L88 , like this https://github.com/RDFLib/rdflib/blob/1503dae6049f0d9b14d9d7f884d8de4cb38b39a3/rdflib/plugin.py#L164-L166 - do you think you can try this @kamilliano ?

[2019-01-10 18:42] kamilliano commented on #102
@lopuhin Thanks for quick response. I will have a stab at this.

[2019-01-13 15:01] kamilliano commented on #102
@lopuhin I did try to register 'json-ld' plugin directly and that works. Thanks for that I owe you a beer. I just didn't fully understand the internals. I think my problem is more from my side and to do with the project structure and how imports are managed in some places (I haven't written all myself so I am not taking blame for all this time ;) ). I tried to inspect globals and locals between lo

[2019-01-14 08:31] lopuhin commented on #102
@kamilliano great that it worked, thanks for digging into it! If possible, can you share the bit of code to register the plugins, so that if someone else has the same problem, they can find your solution?

I'm not sure, but I don't think it's the issue with your project code - plugin should be registered automatically without any extra imports or anything else. I suspect that this could be AWS Lam

[2019-01-14 08:54] kamilliano commented on #102
@lopuhin the following is the registration that I used in the module calling the main function above:
[code]

[2019-02-02 10:00] Chris8080 opened #104 "Accessing extracted data which is not unique"
Hello,

extruct is working very well for me use case and I get plenty of structured text out of websites.
I'm mostly using Microdata.
Unfortunately, some websites seem to have different structures from others, so for example, sometimes I'd get an array:

`'brand': {'properties': {'name': 'NIKE'},
                                         'type': 'http://schema.org/Brand'},`

and sometimes a string:

[2019-02-04 09:16] lopuhin commented on #104
@Chris8080 I think that's the right way to do this, we're using a similar approach. You can also check out ``uniform=True`` option (https://github.com/scrapinghub/extruct#uniform) which makes output from different formats more structurally uniform without loosing information, but it still preserves distinctions which you want to remove here.

[2019-02-04 14:55] Chris8080 commented on #104
Ok, sounds good .. so at least I know I'm kind of on the right track.
`uniform=True` looks good, thanks - I'll use it.

[2019-02-04 14:55] #104 closed

[2019-02-05 15:15] ivanprado commented on #92
Same problem in my case. Open Graph with `uniform` avoids the possibility of extracting multiple images. Only last image is returned. Example:

[code]

result:

[code]

[2019-02-23 14:19] Sarge2013 opened #107 "How to extract only value of a one or two JSON-LD parameters ?"
Hello,
ref your example
{ 'json-ld': [ { '@context': 'http://schema.org',
                 '@id': 'FP',
                 '@type': 'Product',
                 'brand': { '@type': 'Brand',
                            'url': 'https://www.sarenza.com/i-love-shoes'},
                 'color': ['Lava', 'Black', 'Lt grey'],
                 'image': [ 'https://cdn.sarenza.net/_img/productsv4/0000119412/M

[2019-02-23 16:53] #107 closed

[2019-03-04 12:01] spidysenses opened #108 "Extracting image captions with ArticleBody"
This package is great. Thanks for it and other packages from scrapinghub.

Image captions and credits are included in article body. It is messing up with article content.

Example URL
https://www.nytimes.com/2019/03/03/us/tornado-alabama-georgia-deaths.html?action=click&module=Top%20Stories&pgtype=Homepage

[2019-03-04 12:15] lopuhin commented on #108
@spidysenses thank you for your kind words.

this is expected - the goal of this library is to extract html element as marked by it's creators, without doing any extra cleanup or normalization. You can try using libraries like newspaper/dragnet/boilerpipe to extract just the article text.

[2019-03-25 18:12] JonasOlson opened #109 "Parsing of JSON-LD breaks when the JSON is followed by a semicolon"
I don't know if having the JSON being followed by a semicolon constitutes valid JSON-LD, but I have encountered it in the wild.

Running extruct on the following works fine:

[code]

However, this breaks:

[code]

The error message looks like this:

[code]

Extruct version 0.7.2; Python version 3.6.7; Ubuntu 18.04.2

[2019-04-01 17:33] tisdall opened #110 "HTML escaping in JSON+LD"
I came across some JSON+LD on a site that contained a `&amp;` and I assumed that I accidentally escaped something somewhere.  However, I found that that was what was actually in the content and also that [the standard says that it should be there](https://w3c.github.io/json-ld-syntax/#restrictions-for-contents-of-json-ld-script-elements).

For my application, I would like that `&amp;` to be a `&`,

[2019-04-05 02:55] Gallaecio commented on #110
I’m not sure what the expected behavior is.

The standard that you link says:
- That only `<script>`, `</script>`, `` need escaping.
- That the escaping will remain after processing.

To me it sounds like extruct is currently acting according to the standard.

I am unsure, though. Also, even in that case, I wonder if such decoding should be an optional feature at least.

[2019-04-05 03:01] Gallaecio commented on #31
@redapple Do you think #88 solved this issue?

[2019-04-05 12:24] tisdall commented on #110
The "Note" seems to imply encoding the "usual suspects" of HTML entities:
![image](https://user-images.githubusercontent.com/4029388/55625243-29c45180-5776-11e9-97f6-0cdd125941eb.png)

The reasoning behind it is specifically to avoid having `<script>` and/or `<!--` in the middle of the `script` block without escaping.  However, it seems they decided to cover all the characters commonly escaped whe

[2019-04-05 14:55] Gallaecio commented on #110
I wonder what it means for us that it says there “the content will remain escaped after processing through the JSON-LD API”.

[2019-04-05 15:59] tisdall commented on #110
Excellent point.  Yeah, I was wondering about that too...

Here's some [documentation on the JSON-LD API](https://www.w3.org/TR/json-ld-api/#the-application-programming-interface).  The gist seems to be an API that "restructuring data according to the defined transformations" using methods `compact`, `expand`, and`flatten`.  The end result is still JSON-LD, but reformatted structurally.  extruct's

[2019-04-23 14:32] ivanprado opened #111 "RecursionError('maximum recursion depth exceeded while calling a Python object',)"
Rest API not working for extruct 0.7.2

Response for requests are:
[code]

A warning is shown at startup:
[code]

A possible solution could be in this message: https://github.com/gevent/gevent/issues/1235#issuecomment-395423091

pip list:
[code]

[2019-05-15 08:26] kmike commented on #111
see also: https://github.com/scrapinghub/extruct/issues/63

[2019-05-15 08:27] #108 closed

[2019-05-15 08:30] kmike opened #112 "html parsing fail on empty documents"
Exception like this can be raised by functions from extruct.utils:
[code]

In parsel this is worked around: empty documents are handled explicitly. There is also an issue with null bytes handled. I think we should bring similar fixes to extruct. See https://github.com/scrapy/parsel/blob/e01093cf6342c90445028de28034b3cc3d2ead8b/parsel/selector.py#L38.

[2019-05-23 13:47] Gallaecio commented on #90
Closing due to a lack of much needed feedback.

[2019-05-23 13:47] #90 closed

[2019-05-23 14:19] Gallaecio commented on #102
Should we cover this in the documentation and consider the issue fixed once that is done? There does not seem to be much else we can do.

[2019-05-27 18:30] jakubwasikowski opened #113 "Extruct returns incorrectly formatted description property"
Seems that `extruct` incorrectly interprets description with included HTML tags from microdata.

See the below description extracted from URL https://www.monsterpetsupplies.co.uk/cat/cat-flea-tick/johnsons-4-fleas-cats-kittens:

[code]
As it can be seen, there is a problem with formatting, like lack of space between "Pack" and "For" or between "11kg." and "Johnson's".

It turns out that the proble

[2019-05-28 07:56] lopuhin commented on #113
Added html so that it can be reproduced later

[gh-113.html.zip](https://github.com/scrapinghub/extruct/files/3226203/gh-113.html.zip)

[2019-05-28 09:00] Gallaecio commented on #109
This should be covered by #45.

[2019-06-07 12:43] ivanprado opened #116 "RDFa ordering not preserved on duplicated properties"
When a property is repeated (i.e. on a page with multiple images annotates as `og:image`) RDFa return it as a list but is not preserving order. Preserving order is important as usually the first image is the most important. An example of page where this would be happening:

https://cleantechnica.com/2019/04/16/fukushimas-final-costs-will-approach-one-trillion-dollars-just-for-nuclear-disaster/

It

[2019-06-08 23:04] kmike commented on #116
fwiw, extruct is using https://github.com/RDFLib/rdflib, not pyRdfa. This could be related (not 100% sure): https://github.com/RDFLib/rdflib/issues/538.

[2019-06-10 08:54] kmike opened #117 "First non-empty result should be extracted in case of OpenGraph"
https://github.com/scrapinghub/extruct/pull/115 was a step in a right direction (prefer first results), but it seems it is not the whole solution, as empty results should not be prioritized.

E.g. on https://www.triganostore.com/tente-de-camping-raclet-bora-4.html there are two og:description values, the first one is empty. https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fwww.t

[2019-06-14 15:41] josepowera opened #118 "Dockerfile"
I'm running extruct using docker, however have a problem
[code]

[code]

[code]

When I run http request to server

http://192.168.5.134:10005/extruct/https://www.sarenza.com/i-love-shoes-susket-s767163-br964-t76-p0000119412`
I get error that is probably related to gevent monkeypatching abov:

`{"url": "https://www.sarenza.com/i-love-shoes-susket-s767163-br964-t76-p0000119412", "status": "error",

[2019-06-17 15:41] whalebot-helmsman commented on #118
Duplicate of https://github.com/scrapinghub/extruct/issues/111

[2019-06-17 15:41] whalebot-helmsman commented on #118
Duplicate of https://github.com/scrapinghub/extruct/issues/111

[2019-07-16 14:23] croqaz commented on #116
What would be the implications to use SET instead or LIST in the RDFa values?
Eg: The values would be converted to sets of frozen Dicts:

[code]

[2019-07-16 14:54] ivanprado commented on #116
@croqaz the order is important for values. Usually, some pages annotate several images but the most important one (the one with the biggest resolution or more relevant) is the first one. If a set is used the order is lost. Instead, it would better to get consistent ordering by having values in the order they appear in the page. That's unfortunately not the case for RDFa.

[2019-07-16 14:58] croqaz commented on #116
Thank you for the explanation @ivanprado 👍

[2019-07-22 11:26] jakubwasikowski commented on #113
The issue has been fixed in PR https://github.com/scrapinghub/extruct/pull/119.
I'm closing the issue :tada:

[2019-07-22 11:26] #113 closed

[2019-07-26 11:50] ivanprado commented on #117
Proposed a fix here: https://github.com/scrapinghub/extruct/pull/121

[2019-07-26 12:15] ivanprado commented on #117
Fixed on #121

[2019-07-26 12:15] #117 closed

[2019-08-13 09:25] andrin-n-dream commented on #28
I had to add the following to my python script in order to make it work
[code]

[2019-10-01 10:37] Gappa88 opened #124 "itemprop=image not extracted from the Microdata example"
I have tried to extract information from the very same example in [this](https://github.com/scrapinghub/extruct#returning-html-node) and I noticed that the image tag is not extracted at all, even if the `itemprop=image` is present in the web page.
Why this happens? is it intentional or a bug?

[2019-10-18 11:44] gk2go commented on #110
Is this the same issue?

view-source:https://www.aljazeera.com/news/2019/07/argentina-designates-hezbollah-terrorist-organisation-190719120713627.html
[code]

[2019-10-18 12:36] tisdall commented on #110
@gk2go - The issue is about unescaping escaped HTML entities.  The issue you're having is about malformed JSON because the person didn't quote the `"` as either `\"` or `&quot;`.
[code]

Please use https://search.google.com/structured-data/testing-tool/ to test structured data first before suspecting a bug with extruct.

[2019-10-30 14:28] lopuhin commented on #93
I think it's possible to make extruct work on such cases, and it should be a responsibility of the library.

[2019-12-03 15:33] jimmytuc commented on #93
Not about Unicode, but I got an issue when parsing from `json-ld` structure has hex string in this [url](https://shopee.ph/Fear-of-God-x-Vans-Vault-UA-ERA-95-DX-White-i.116471331.1795483832)
The root cause is because of the description which is having hex string, and it is fixed by removing `\x` according to this [article](https://stackoverflow.com/questions/33707954/how-to-remove-x-from-a-hex-str

[2020-01-08 13:44] #109 closed

[2020-01-08 13:51] Gallaecio commented on #45
I’m looking at the code, and I see that `extract` already handles this as suggested depending on the `errors` parameter, which can be set to `log` for the suggested behavior, `ignore` to do nothing or `strict` (default) to let the exception raise.

When using a specific parser, I think it makes sense to keep the current behavior; users are free to catch the exception of let it raise further.

[2020-01-08 14:25] Gallaecio commented on #92
If backward compatibility is to be kept, I’m not sure what the best approach would be.

[2020-01-10 12:35] Gallaecio commented on #102
I’ve just tried to use extruct in Amazon Lambda myself.

Because extruct depends on lxml, [you need a Docker image](https://stackoverflow.com/a/56821087/939364). From then on, it should all work as in a regular Linux machine, so I don’t think there’s anything we need to cover in the documentation, unless there is enough interest to cover this in a FAQ section.

[2020-01-15 22:55] #111 closed

[2020-04-08 09:04] lopuhin opened #130 "Support passing pre-parsed html in extruct.extruct"
``extruct.extruct`` always calls ``parse_xmldom_html`` - it would be convenient if results of this parse call could be passed instead, in case we want to do some custom extractions outside.

[2020-04-18 09:54] tonal opened #131 "ModuleNotFoundError: No module named 'rdflib.plugins.parsers.pyRdfa' for RDFLib v5.0.0"
[code]

[2020-04-18 09:58] dnnsthnnr opened #132 "Install issues due to rdflib version 5.0.0"
The new released version from rdflib is breaks this module:

[code]

[2020-04-18 10:06] dnnsthnnr commented on #131
@tonal #132  I had the same issue. Just install the rdflib==4.2.2

[2020-04-20 08:23] lopuhin commented on #132
Thanks for the heads up @dnnsthnnr , let me close this one and continue in #131

[2020-04-20 08:23] #132 closed

[2020-04-20 08:28] lopuhin commented on #131
Thanks for report @dnnsthnnr and @tonal . For now pinning rdflib is indeed the best solution, but we'll check if we can update extruct to work with a newer version as well.

[2020-04-20 10:55] lopuhin commented on #131
from https://rdflib.readthedocs.io/en/stable/upgrade4to5.html

And indeed the parsers we use were removed in https://github.com/RDFLib/rdflib/pull/828/

So it looks like we don't be able to use a newer rdflib version, short-term solution would be to pin it, and long-term to check these other libraries.

[2020-04-20 12:17] #131 closed

[2020-04-20 15:03] lopuhin commented on #131
This is released in 0.9.0

[2020-04-24 12:01] svnshikhil opened #135 "ImportError: No module named 'rdflib.plugins.parsers.pyRdfa'"
This issue occurs when we install warcio package

from rdflib.plugins.parsers.pyRdfa import pyRdfa as PyRdfa, Options, logger as pyrdfa_logger
ImportError: No module named 'rdflib.plugins.parsers.pyRdfa'

[2020-04-24 12:02] lopuhin commented on #135
@svnshikhil this should be fixed in the lateest release, 0.9.0, could you please check it?

[2020-04-24 18:28] saggu commented on #135
@lopuhin there seems to be a version conflict re:rdflib

`ERROR: extruct 0.9.0 has requirement rdflib<5.0.0, but you'll have rdflib 5.0.0 which is incompatible.`

Will this be fixed?

[2020-04-24 18:46] Gallaecio commented on #135
Do you need rdflib 5.0.0?

[2020-04-24 19:14] saggu commented on #135
I don't but we are using other libraries as `SPARQLWRAPPER` which is using the latest rdflib.
For future proofing we use the latest version of libraries anyway.

[2020-04-27 08:39] lopuhin commented on #135
@saggu I see, unfortunately ``extruct`` is not compatible with latest rdflib 5.0.0, we put a restriction on the version in 0.9.0 but you are right that this is not a viable solution long term, let's use this issue to track this.

I think the plan to improve this could be:
1. at least don't fail to import with latest rdflib, so that we loos only extractions provided by it
2. move off rdflib, either

[2020-05-07 19:10] teledyn opened #136 "constrains rdflib to 4.2.2?"
extruct appears to be the only item in my scrapy installation that is still constraining to rdf 4.2.2 -- are there plans for an update?

[2020-05-07 19:15] Gallaecio commented on #136
See #135

[2020-05-08 07:16] lopuhin commented on #136
We want to lift this restriction but no concrete timeline yet, PRs are always welcome. I'll close this as a duplicate of #135 as @Gallaecio noted.

[2020-05-08 07:16] #136 closed

[2020-05-25 07:06] adityas114 commented on #116
Hi, I would like to work on this. It would be great if you can assign me the issue.

I am thinking when the parsed output is returned from rdflib in rdfa.py, we can use the document object to fix the order in extruct itself. I have started working on it and I can raise a pull request soon.

[2020-05-25 13:03] ShivinDass commented on #31
I believe the issue can be resolved by including the relevant namespaces in html tag before calling the PyRdfa function on the document.

I've made some headway towards the solution and would appreciate if I can be assigned this issue.

[2020-05-25 14:03] lopuhin commented on #31
@ShivinDass AFAIK no one is working on this issue at the moment, and contributions are very welcome. Please tell if you'd like more specific feedback.

[2020-05-26 05:23] ragnerok commented on #92
Hi, I'd like to work on this issue. Can you assign this issue to me ?

One way to solve this issue while keeping it backward compatible is to add a flag with_og_array that returns an og_array if it is true.

[2020-05-26 07:06] svnshikhil commented on #135
Yeah, it's working

Thank you all

[2020-05-26 07:52] lopuhin commented on #92
Hi @ragnerok contributions are very welcome, I don't think anyone is working on this.

Sounds good to me :+1:

[2020-05-26 08:24] ivanprado commented on #116
Hi @adityas114 . Nice if you can work on it :+1: . In order to contribute, just create a PR with the fix. There is no need to assign the issue.

[2020-05-26 13:07] adityas114 commented on #116
@ivanprado I have created a PR (#139) for this issue. Please have a look and let me know if it requires any changes.

[2020-05-26 13:33] ragnerok commented on #92
Hey @lopuhin, I've added the changes that I think will fix the issue. Could you look into it and let me know if I need to change something else ? I'll add the test cases in some time.

[2020-05-27 14:23] lopuhin commented on #135
Re-opening because the proper fix is still not in place, we want to allow users of extruct to use the latest rdflib, see https://github.com/scrapinghub/extruct/issues/135#issuecomment-619824716

[2020-05-28 17:11] ShivinDass commented on #31
Hey @lopuhin, I've made a pull request with the modifications that I feel would fix the issue. Please take a look whenever you get the time :)

[2020-05-30 03:32] gaurav19063 commented on #87
Updated JSON-Ld can autocorrect badly formatted JSON.

[2020-06-04 12:30] #31 closed

[2020-06-08 07:05] #92 closed

[2020-06-09 17:21] advance512 opened #142 "ValueError: Unicode strings with encoding declaration are not supported. Please use bytes input or XML fragments without declaration."
When scraping the URL: http://www.reakes.com/

Error:
[code]

I would expect a scraper to fail gracefully and not let a problem with lxml propagate out, but not sure what the philosophy of extruct is specifically.

[2020-06-10 07:40] lopuhin commented on #142
Thanks for raising the issue :+1:

The philosophy is to propagate the errors by default, but there is a parameter which allows to ignore or log the errors via the "errors" argument to extract function: https://github.com/scrapinghub/extruct/blob/a64ce58210a2151d0d760fb3ef7b28d0691e539a/extruct/_extruct.py#L30-L31

Let's keep the issue open to tackle the underlying problem.

[2020-06-16 15:07] advance512 opened #143 "https://lubelska.co.uk/JSONDecodeError: Extra data: line 21 column 1 (char 572) for URL"
Seems that the issue is that the JSON-LD document is:
[code]

and after the replacing in `jsonLd._extractItems()`:
[code]

it becomes:
[code]

and naturally this part which was not replaced:
[code]
causes the error.

Currently, having a badly formatted information tag causes the entire library to fail and return no data. Is this the intended behavior?

[2020-06-16 15:10] advance512 commented on #142
@lopuhin
Got it. Is there a way to log the failures, but as a warning/info instead of an error?

[2020-06-16 15:27] lopuhin commented on #142
@advance512 not really, I'm afraid that if you wish to adjust the level of logging you'd have to catch the exception yourself.

[2020-06-16 15:43] advance512 commented on #142
@lopuhin but then I won't get the actual valid data that is extracted..

[2020-07-09 06:11] #116 closed

[2020-07-27 19:09] Vitiell0 commented on #143
Having the same problem with this url: https://www.eatwell101.com/shrimp-and-broccoli-foil-packs-recipe

[2020-07-27 20:27] Vitiell0 commented on #143
Just opened a PR with a fix here: https://github.com/scrapinghub/extruct/pull/144

[2020-08-12 12:15] Gallaecio opened #146 "Random order in RDFA’s root list"
In the current state of #127, running `tox -e py -- README.rst` and looking at the end of the reported diff between actual output and expectations, the order of the 2 dictionaries in the root list of `rdfa` changes across different executions.

So, sometimes you get:

[code]

While other times you get:

[code]

I though #116 would fix this, but it did not.

[2020-08-24 08:33] lopuhin opened #147 "Slow microdata extraction"
Microdata extraction for one page takes around 190 s, the page itself is 7 MB uncompressed with 5.5k comments, so looks quite slow. URL is `http://jeursen.design/2015/10/prowood-gent-belgie/?replytocom=1961`, gzipped html attached. Extraction time is dominated by ``w3cmicrodata.py:65(get_docid)`` which is expensive (profiling screenshot below).

Exact invocation used:

[code]

profiling:

<img wid

[2020-08-24 08:34] lopuhin commented on #147
(looking into fixing this)

[2020-08-31 15:06] #147 closed

[2020-09-01 18:15] lopuhin opened #151 "Description missing on PyPI"
Here is how it looks currently at https://pypi.org/project/extruct/, probably would make sense to put README contents if it renders well enough:

<img width="1128" alt="Screenshot 2020-09-01 at 21 13 43" src="https://user-images.githubusercontent.com/424613/91890448-29482700-ec98-11ea-9bd1-a5bf5bfc1da0.png">

[2020-09-08 21:13] boxabirds opened #153 "The emitter opengraph produces rigid, fragile structures"
Consider this HTML construct:

[code]
This is turned into the following by the opengraph module:
[code]

Does anyone know why this couldn't instead be:

[code]

A case for having the output be this way:

1. You can then do semantic selectors instead of positional selectors (`["og:title"]` vs `[1]`)
2. If there are multiple occurrences with an `og:tag` then I think this is a bug, certainly for the

[2020-09-09 06:03] lopuhin commented on #153
@boxabirds that's a good question. The output with ``uniform=True`` is already a dict like you describe: https://github.com/scrapinghub/extruct#uniform - so my understanding is that by default we do minimal post-processing, but also provide the data in a more convenient format.

[2020-09-09 06:07] boxabirds commented on #153
Uniform =true great I’ll try that thanks!

On Wed, 9 Sep 2020 at 07:03, Konstantin Lopuhin <notifications@github.com>
wrote:

[2020-09-09 10:02] boxabirds commented on #153
So maybe we could update the docs so it emphasises that the uniform=True flag should be used in most new cases. I'd encourage the default to be this but that'd likely break your current users.

[2020-10-06 14:56] olegbonar opened #156 "Add support for compacted form of json-ld when using RDFaExtractor."
`RDFaExtractor` already supports expanded mode via `expanded` parameter but it seems that currently there's no way to pass it when using "All-in-one" extraction via `extruct.extract`
It'd be nice to add that support either by introducing a constructor argument to `RDFaExtractor` or by adding keyword arguments (see `LxmlMicrodataExtractor` for reference)

[2020-10-06 18:42] olegbonar commented on #156
I'll take this if nobody minds.

[2020-10-06 19:42] #10 closed

[2020-10-26 22:53] ichitaka opened #157 "Empty return on webpages"
So I'm currently investigating the issue, that for a lot of websites this tool is sadly not working. To provide an example, please consider this url:
`url = "https://elavegan.com/de/nudeln-mit-knoblauchsosse/"`
If i run the request and extract the structured data with the following command
[code]
I receive this empty response
[code]
Structured data is available through the google test tool and the

[2020-10-27 08:33] lopuhin commented on #157
@ichitaka could you please check the contents of ``response.text``? I tried the URL you posted and it returns lots of semantic markup for me, including recipe info:

[code]

[2020-10-27 11:00] ichitaka commented on #157
Yes the response.text does contain the expected information. Right now I pinned down the issue. I don't have this with a fresh environment. This would mean, that there is some kind of dependency issue.

[2020-10-27 11:01] lopuhin commented on #157
@ichitaka I see, thanks for double-checking. Please reply if you find a way to reproduce it, I'll close the issue for now.

[2020-10-27 11:01] #157 closed

[2020-10-29 11:05] honzajavorek opened #158 "DeprecationWarning: the imp module is deprecated in favour of importlib"
`extruct` uses `rdflib==4.2.2`, which causes this warning:

[code]

Not sure if this has been fixed in `rdflib==5`, I didn't find anything mentioning importlib in the issues or PRs there. Related: https://github.com/RDFLib/rdflib/issues/1196

[2020-10-29 13:03] lopuhin commented on #158
Thanks for the heads up, right now we're stuck on 4.2.2, https://github.com/scrapinghub/extruct/issues/135 is about fixing this - I hope you don't mind closing this as a duplicate.

[2020-10-30 09:28] honzajavorek commented on #158
OK, thanks! No problem, I'll subscribe to the other issue 👍

[2020-11-13 14:44] lopuhin commented on #156
Let's keep this open, I think the feature makes a lot of sense.

[2020-11-20 04:20] kelvinso opened #160 "Matching Order in LxmlMicrodataExtractor._extract_property_value"
I noticed that the matching order of _extract_property_value seems to be inconsistent with https://www.w3.org/TR/microdata/#values. In this doc, it mentions that the 2nd matching case is  "If the element has a content attribute". However, in LxmlMicrodataExtractor._extract_property_value, it is 2nd to the last in the matching order.

Should this case
[code]
in w3cmicrodata.py be moved before resol

[2020-12-14 04:32] #151 closed

[2020-12-28 15:46] lopuhin commented on #135
This is fixed by #161 and released in v0.12.0

[2020-12-28 15:46] #135 closed

[2021-01-26 01:59] wjdp opened #171 "Crash on JSONDecodeError from body of YouTube page"
I have some code to pull metadata from YouTube

[code]

Have noticed some recent crashing, but only on some videos.

No crash: https://www.youtube.com/watch?v=ZY48KUAZKhM https://www.youtube.com/watch?v=ZlVI7YJGHq0
Crash: https://www.youtube.com/watch?v=987wzJ2NHBE https://www.youtube.com/watch?v=0-EF60neguk

Common factor among those that crash is apostrophes in the channel name!

[code]

Haven't

[2021-02-12 14:21] parichay0009 opened #172 "page.click() is not working if covered by overlay"
page.click() should close the overlay automatically.

[2021-02-12 14:22] #172 closed

[2021-02-21 16:50] Gallaecio commented on #160
Yeah, it looks like the changes they’ve made to the specification since [2013](https://www.w3.org/TR/2017/WD-microdata-20170504/) (that code is from 2014) include allowing `content` on any node, which back in 2013 was non-standard yet supported by extruct.

[2021-04-09 20:46] TiagoGoddard opened #174 "JSONDecodeError: Expecting value: line 1 column 1 (char 0) for URL https://www.drogaraia.com.br/nivea-desodorante-aerosol-deep-original-150ml.html"
Hello,

Using the CLI version I get the following error message when using the json-ld:

[code]

The JSON-LD of this site is:
[code]

I cound't find the exact reason it's failing, since I created the following page with only the JSON-LD in the HTML, and the CLI worked:
[code]

[2021-04-09 21:00] TiagoGoddard commented on #174
I tested with the python lib and had the same issue

[2021-04-22 17:22] csandman opened #175 "Error's with non-escaped quotes and multiline JSON-LD"
I'm not sure if this is an issue with extruct, or if there's anything I can do with extruct (or otherwise) to get around this issue, but I've been running into errors when attempting to parse JSON-LD from this site.

This is the first error I'm getting:

[code]

I believe this is because there are quotes in the `description` field's html that are not escaped.

I'm also sometimes running into an is

[2021-04-22 17:50] Gallaecio commented on #175
Could you check if https://github.com/scrapinghub/extruct/pull/126 fixes this issue?

[2021-04-22 18:52] csandman commented on #175
@Gallaecio I'll give it a shot!

Do you know the easiest way to test a package like this?  I don't do python development very often so I'm not very familiar, but right now I'm using pipenv if that makes a difference.  Should I just clone your fork and put it in my project to see if it works?

[2021-04-22 19:37] Gallaecio commented on #175
I think this should do the job:

[code]

[2021-04-22 20:31] csandman commented on #175
Ok it installed successfully with that command! (but not with zsh for some reason)

Anyway, I'm still getting the error, except at a different position:

[code]

[2021-04-22 21:28] csandman commented on #175
I ended up manually adding your fork so I could print out what was going on and I think I figured it out.  In the replacement where it fails, the character before it is a space.  So I guess it only fails once it hits another non-space character.

I found this [answer on Stack Overflow](https://stackoverflow.com/a/18515887/11020515) that attempts to solve pretty much the same issue your script is.

[2021-07-22 08:28] cydanil opened #176 "rdflib 6.0.0 does not always return bytes, breaking extruct.rdfa.RDFaExtractor"
When installing `extruct` from pypi, I get failing tests because `extruct` depends on `PyRDFA`, which itself depends on `rdflib`.

`rdflib` was recently upgraded to version `6.0.0`, and changed `Graph.serialize` to return bytes or strings, depending on the input parameters:
[code]

Here's my failing test output:

[code]

I'm happy to do a fix for this, but it can go two ways: either pinning `rdfli

[2021-07-22 08:59] lopuhin commented on #176
Thanks for the heads up @cydanil .

I think for us, the best way would be to be able to work with both versions, second best preference would be to work with rdflib >= 6.0 (and if the first option is not convenient to implement, then I think it's the best one), and third best (and temporary) would be to pin rdflib to currently working version.

[2021-07-22 09:02] cydanil commented on #176
Thanks,

Would it be ok to wrap this in a `try/except AttributeError` then, or would you prefer something like the following?

     jsonld_string = g.serialize(format='json-ld', auto_compact=not expanded)
     if isinstance(jsonld_string, bytes):
         jsonld_string = jsonld_string.decode('utf-8')

[2021-07-22 09:40] #176 closed

[2021-08-02 17:39] sknebel commented on #153
OpenGraph has arrays and elements where order *between* tags matters: https://ogp.me/#array Is this covered?

[2021-08-09 21:22] platelminto opened #179 "Adding twitter tags"
Would there be any interest in adding twitter card tags (detailed [here](https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup))? I'd be willing to work on this if there's any interest and submit a pull request.

[2021-08-11 10:13] lopuhin commented on #179
hi @platelminto that could be a great addition. Do you have some examples of the pages with this markup, and example outputs? Do you have an estimate of how popular is this markup?

[2021-08-11 10:39] platelminto commented on #179
Example pages:

https://shop-eu.kurzgesagt.org/
with markup:
[code]

https://store.taylorswift.com/products/i-would-die-for-you-in-secret-hoodie
with markup:
[code]
https://github.com/
with markup:
[code]
https://www.billboard.com/
with markup:
[code]

These include a couple I just found now randomly, it looks extremely popular (to the extent of opengraph and json+ld).

[2021-08-11 10:54] lopuhin commented on #179
Thanks for examples, looks quite popular indeed, +1 that it's useful.

Also it seems that this is already somewhat supported, for example this works

[code]

But not this

[code]

[2021-09-09 12:44] kalravparsana opened #181 "Extruct - 0.13.0 is not compatible with the latest rdflib"
This error is observed while importing extruct
[code]

[2021-09-09 15:20] lopuhin commented on #181
@kalravparsana which versions of the libraries are you using? I'm not getting a failure with ``rdflib==6.0.0  extruct==0.13.0 pyrdfa3==3.5.3``

[2021-09-09 18:07] kalravparsana commented on #181
@lopuhin thanks for checking.

This is the o/p of pip freeze
[code]

And this is my requirements.txt file
[code]

You can see that version for extruct is taken 0.3.0 by default which is way older and if I pin to 0.13.0, I get this error
`#19 7.597     error in rdflib-jsonld setup command: use_2to3 is invalid.
#19 7.597     ----------------------------------------
#19 7.597 WARNING: Discarding http

[2021-09-10 16:24] lopuhin commented on #181
Aha I see, must be some issue with a newer pip version resolver which does not allow 0.13.0 to be installed. So downgrading pip to some version from mid-2020 may help (or disabling this resolver), but we should reproduce and fix it on our side as well.

[2021-09-13 13:01] kalravparsana commented on #181
@lopuhin This seems to have been solved after recent changes on https://github.com/RDFLib/rdflib-jsonld.
Thanks for your support anyway.

[2021-09-13 13:01] #181 closed

[2021-09-13 15:24] lopuhin commented on #181
Nice, thank you @kalravparsana :+1:

[2021-09-23 16:16] honzajavorek opened #183 "Installation error: "rdflib-jsonld setup command: use_2to3 is invalid""
I'm getting the following error when trying to install `extruct`:

[code]

I tried checking https://github.com/RDFLib/rdflib-jsonld and found out the package is dead. I tried searching for the error and it seems that pinning setuptools to v58 should do the trick, but no luck so far. I'll continue investigating, but meanwhile I'm filing this in case there are more people struggling to get this work

[2021-09-23 16:26] honzajavorek commented on #183
Seems like they actually fixed the error a while ago: https://github.com/RDFLib/rdflib-jsonld/pull/105 I tried `poetry update` on my side and it fixed the issue.

[2021-09-23 16:26] #183 closed

[2021-12-06 09:08] div927 opened #185 "ValueError: Unicode strings with encoding declaration are not supported. Please use bytes input or XML fragments without declaration."

[2021-12-06 09:15] lopuhin commented on #185
hi @div927 is this the same as https://github.com/scrapinghub/extruct/issues/142? If not, would you mind providing more details?

[2021-12-06 10:17] div927 commented on #185
@lopuhin just I'm trying to run this.

from requests.models import encode_multipart_formdata
import extruct
import requests
from w3lib.html import get_base_url
import csv
r = requests.get("https://www.msn.com/en-in/entertainment/entertainmenttopstories/movie-review-shershaah-vikram-ka-parakram/ar-AANegUL")
base_url = get_base_url(r.text, r.url)
data = extruct.extract(r.text, base_url=base_url)
pri

[2021-12-06 10:21] div927 commented on #185
And also some url return []
like if I put url as `https://www.hindustantimes.com/entertainment/bollywood/shershaah-movie-review-sincere-sidharth-malhotra-plays-vikram-batra-with-saintly-swagger-in-amazon-s-simplistic-war-drama-101628692350461.html`

[2021-12-06 10:26] lopuhin commented on #185
@div927 aha then it's the same issue, let me close this.

Btw it works if you pass response text as bytes instead of a string, like this:

[code]

But this is something which we need to fix. Let me close this ticket though and let's continue in #142

[2021-12-06 10:28] lopuhin commented on #185
That means we didn't detect any semantic markup - not all pages have markup and we support not all kinds of it. If you think there is some specific markup which we missed, please open a separate ticket.

[2021-12-06 10:28] lopuhin commented on #185
Closing as a duplicate of #142

[2021-12-06 10:28] #185 closed

[2021-12-06 10:30] lopuhin commented on #142
Btw a comment on anyone experiencing the original issue - even though this is something which we should fix, as a work-around, you could pass the HTML as bytes (as sent by the server) instead of a string.

[2021-12-15 06:43] div927 opened #186 "ModuleNotFoundError: No module named 'rdflib_jsonld.serializer"
`data = extruct.extract(r.text, base_url=base_url)
/Users/divyanshu/flask/lib/python3.6/site-packages/rdflib_jsonld/__init__.py:12: DeprecationWarning: The rdflib-jsonld package has been integrated into rdflib as of rdflib==6.0.1.  Please remove rdflib-jsonld from your project's dependencies.
  DeprecationWarning,
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Us

[2021-12-15 06:48] lopuhin commented on #186
hi @div927 could you please tell the python version and versions of the relevant packages: extruct, rdflib, rdflib-jsonld, pyrdfa3.

[2021-12-15 06:52] div927 commented on #186
@lopuhin
python version -> 3.6.9
extruct (0.13.0)
rdflib (5.0.0)
rdflib-jsonld (0.6.2)
pyRdfa3 (3.5.3)

My project work good with python 3.6.9

[2021-12-15 07:00] lopuhin opened #187 "Example from the README does not work any more"
The one in https://github.com/scrapinghub/extruct#all-in-one-extraction which is requesting ``'https://www.optimizesmart.com/how-to-use-open-graph-protocol/'`` does not work any more, it returns no data - perhaps we should self-host some example.

[2021-12-15 07:03] lopuhin commented on #186
@div927 I see, there were some incompatible changes in latest ``rdflib`` versions, if I go with latest versions for everything, it works for me with python 3.9, so in you case I hope updating rdflib to 6.0.2 and rdflib-jsonld to 0.6.2 should fix the issue.
Probably we should check which versions don't work and add constraints.

[2021-12-15 07:09] div927 commented on #186
@lopuhin  I don't think python 3.6.9 can install rdflib to 6.0.2 and rdflib-jsonld to 0.6.2 because when I try I didn't working for me.

`Collecting rdflib==6.0.1
  Could not find a version that satisfies the requirement rdflib==6.0.1 (from versions: 2.4.1, 2.4.2, 3.0.0, 3.1.0, 3.2.0, 3.2.1, 3.2.2, 3.2.3, 3.4.0, 4.0, 4.0.1, 4.1.0, 4.1.1, 4.1.2, 4.2.0, 4.2.1, 4.2.2, 5.0.0rc1, 5.0.0)
No matching dis

[2021-12-15 07:14] lopuhin commented on #186
@div927 oh sorry, my bad - I misread and was checking with python 3.9. Actually we have the same problem with the build here https://github.com/scrapinghub/extruct/runs/3745270289?check_suite_focus=true - let me check if there is some working configuration. Unfortunately old build logs are no longer available. Worst case, downgrading extract should work, and extraction quality and API should be pr

[2021-12-15 07:25] div927 commented on #186
@lopuhin what version of extruct is compatible with python 3.6.9. If in case have to downgrade it.

[2021-12-15 07:26] lopuhin commented on #186
@div927 aha here is the issue: https://pypi.org/project/rdflib-jsonld/ says that

So if you downgrade ``rdflib-jsonld`` to 0.5.0 then it works - I checked with python 3.6

[2021-12-15 07:31] lopuhin commented on #186
actually https://github.com/scrapinghub/extruct/pull/182 already puts that constraints in place, so let us try to finish it (there was another build issue there)

[2021-12-15 07:53] div927 commented on #186
@lopuhin yes !

[2022-02-22 13:30] dconnx opened #191 "Extruct not matching up with Schema.org structured data testing tool (Incorrect image Urls)"
Test Url: https://www.fabucci.ie/ladies-shoes/marian-gold-stiletto-with-black-toe-cap.html
Schema.org Structured Data Testing Tool for same: https://validator.schema.org/#url=https%3A%2F%2Fwww.fabucci.ie%2Fladies-shoes%2Fmarian-gold-stiletto-with-black-toe-cap.html

On this page there is 1 product with embedded microdata structured data.  The product has 3 images and the structured data testing to

[2022-04-11 21:18] stephentgrammer commented on #179
👍  @platelminto anything I can do to help this along? Otherwise, I'll be building my own extraction for twitter cards. Unless anyone knows of another package that handles twitter cards already?

[2022-04-13 09:29] paul-rchds opened #192 "Some websites put meta tags outside the head."
On some pages meta tags are included outside of the head tag. For example on the YouTube channel page: https://www.youtube.com/c/Freecodecamp

As the opengraph extractor only looks in the head tag, all the og:* meta properties are missed.
In my fork, I changed the extractor to look in the body rather.

If I get permission, I can do a PR?

Here is a link to where I made the change: https://github.c

[2022-04-14 07:40] lopuhin commented on #192
hi @paul-rchds yes, that would be great - I noticed the same issue myself but didn't get to implement everything required, here is a link to a PR https://github.com/scrapinghub/extruct/pull/129/files - feel free to start a new one.

[2022-04-18 14:48] Schwankenson opened #193 "Very slow extraction for specific string"
I have one site with HTML strings, where I have really slow extraction times (~60 seconds). I just call `extruct.extract` with this string:

https://pastebin.com/QJbUdaA6

Other strings work in times like 1-5 seconds. Does somebody have an idea what`s wrong with this string? Is there something I can do?

Thank you all for working on this great python package!

[2022-04-18 15:12] lopuhin commented on #193
@Schwankenson I didn't check the string yet but what might help is restricting the supported dialects by passing a custom ``syntaxes`` argument to ``extruct.extract``, in case you can afford that. Depending on the data you deal with, you might find that some dialects are very rare but have large processing time, so it can make sense to disable them by default. For example, in one project we only u

[2022-04-18 15:22] Schwankenson commented on #193
@lopuhin Great, thank you! Limiting it to json-ld and microdata shortens time to below one second!

[2022-04-18 15:25] lopuhin commented on #193
Glad it helped, and thanks for checking 👍
I'd rather keep the issue open to see if we can fix this or update defaults or README

[2022-04-21 03:01] bar24 opened #194 "LD+JSON outside HTML element"
Hi all.

If there is ld+json outside html element (<html>.head.body.</html>.ld+json) then parser returns empty list.

Firefox and W3C validator say: Stray start tag "script". So it is clear that site html document structure is at fault.

But maybe someone can apply fix until webmaster fix this.

Example site: https://www.spinneyslebanon.com/mevgal-bio-feta-cheese-200g.html

[2022-05-03 10:00] The-Nightwing commented on #191
How can I get this parsed data using the url given?

[2022-05-13 13:50] udit19281 commented on #171
I haven't been able to replicate the issue. Your Crash video links point to the video that has been removed. Maybe that is the reason why you are getting this error. I suggest you check the video links before passing them to the extract.
Here is the code that I used:

**Code:**
import extruct
import requests
from w3lib.html import get_base_url

crash_links=['https://www.youtube.com/watch?v=987wzJ2

[2022-05-13 15:07] AbhinavSE commented on #171
I replicated the issue using these YouTube links, https://www.youtube.com/watch?v=-J2e8OlBdPs, https://www.youtube.com/watch?v=qP07oyFTRXc, https://www.youtube.com/watch?v=BUrnfkxwozM.

As @wjdp suggested, it is because of the apostrophe in the channel name. json.loads() throws an error when the input contains hex codes like "\\x27" (which is the apostrophe). I created a pull request #195 where I

[2022-05-13 16:02] blackhat-7 commented on #179
I have added the twitter card functionality in the #196 pull request. Please let me know if this works.

[2022-05-13 18:26] frostrot commented on #192
I have changed the functionality of the extract_item function in OpengraphExtractor class, to incorporate the meta tags outside of the head. Have tested it on the link shared by @paul-rchds . Please review my PR for its workability. Thanks

[2022-06-20 12:46] rmizrahigit opened #198 "error extracting json-ld for validated json"
When trying to extract this:
<script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@graph":[{"@context":"https:\/\/schema.org\/","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"\u05e2\u05de\u05d5\u05d3 \u05d4\u05d1\u05d9\u05ea","@id":"https:\/\/www.sollan.co.il"}},{"@type":"ListItem","position":2,"item":{"name":"\u05de\u05e6\u05d1\u05

[2022-07-08 07:06] sitems commented on #193
For one html string, I waited 10 hours. Finally found out that the problem is just in 'microformat'. After skipping that format, it takes just 1 second.

[2022-08-22 07:59] azcarraga commented on #193
Super helpful thank you - this was the case for me too.

[2022-08-31 20:05] petri commented on #49
If you were to use something else than the built-in `json` for parsing, you'd probably want to also change https://github.com/scrapinghub/extruct/blob/master/extruct/jsonld.py#L38 that uses built-in `json`  behind the scenes.

You could use the comment-removal function from `jstyleson` directly.

Or, use https://pypi.org/project/nojsoncomments/ that uses the exact same logic for comment removal bu

[2022-10-01 00:56] getorca commented on #191
I've noticed this issue before as well. It shouldn't be in the breadcrumb list.

You're sharing the breadcrumb list, I would check the type for Product.

I've noticed this issue before as well with extruct

[2022-10-01 20:56] sbdchd opened #199 "[suggestion] adding type hints?"
I see this package supports python 2.7 so the type hints would have to be the comment variety:

https://web.archive.org/web/20220213164145/https://mypy.readthedocs.io/en/stable/cheat_sheet.html

Essentially:

[code]

instead of:

[code]

[2022-10-03 10:51] lopuhin commented on #199
I think dropping python 2.7 support won't be a problem

[2022-10-03 22:24] sbdchd commented on #199
would you be open to a PR introducing type hints & dropping 2.7 support?

[2022-10-05 10:20] lopuhin commented on #199
Yes that would be helpful 👍 If you plan to make any code changes while dropping 2.7 support (e.g. clean-up six imports and other stuff required only for python 2.7), then I think it would be better to do so in a separate PR, and then add hints.

Regarding python 3 versions, I think we can definitely drop 3.5 support. In case 3.6 support would be a problem, we can discuss dropping that as well.

[2022-10-06 22:43] sbdchd commented on #199
Also, any thoughts on adding something like `black` for auto formatting? makes writing the types a little less cumbersome from the formatting changes

[2022-10-07 06:58] lopuhin commented on #199
Re black, we use it in a few projects, such as https://github.com/scrapinghub/web-poet/ and https://github.com/scrapinghub/scrapy-poet, and the folks running these projects are happy with the setup (cc @BurnzZ ). Do you have a preferred approach or experience migrating other projects @sbdchd ?

[2022-10-07 07:05] BurnzZ commented on #199
It'd be cool if we also have **pre-commit** hooks available with `isort` and `flake8` as well. :) Ref: https://github.com/scrapinghub/web-poet/blob/master/.pre-commit-config.yaml

[2022-10-08 02:50] sbdchd commented on #199
yeah basically in my experience adding type hints changes a ton of formatting, so having black helps a bit -- plus I like the look of the output :D